.app {
  background-color: rgb(139, 75, 75);
  width: 300px;
  /* height: 400px; */
  padding-bottom: 30px;
  margin-top: 30px;
}

.screen {
  height: 60px;
  width: 80%;
  background: #fff;
  margin: 0 auto;
}

.section {
  margin-top: 30px;
  text-align: center;
}

.operator,
.number {
  font-size: 30px;
}

button {
  width: 40px;
}

.clear {
  width: 170px;
  height: 60px;
}

.number:hover,
.operator:hover {
  background-color: lightblue;
}
